@use "base"as *;
@use "others/sanitize";

// :root {
// }

html {
    font-family: gothamBook;
    font-weight: 400;
    color: $copy;
    font-size: 20px;
    line-height: 35px;
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}


@import 'components/copyright';
@import 'components/nav';
@import 'components/hero';
@import 'components/text_and_picture';


@media (max-width: 430px) {
    html {
        font-size: 16px;
    }
}