@use "base"as *;
@use "others/sanitize";

// :root {
// }

html {
    font-family: gothamBook;
    font-weight: 400;
    color: $copy;
    font-size: 20px;
    line-height: 35px;
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}


@import 'components/btns';
@import 'components/copyright';
@import 'components/deco';
@import 'components/footer';
@import 'components/four_columns_pic';
@import 'components/nav';
@import 'components/header_and_paragraph';
@import 'components/hero';
@import 'components/section_header';
@import 'components/swiper_images';
@import 'components/text_and_picture';
@import 'components/three_columns_card';
@import 'components/three_columns_icon';
@import 'components/three_columns_text';
@import 'components/three_pics_banner';
@import 'components/two_columns_pic';
@import 'components/two_columns_text';


@media (max-width: 430px) {
    html {
        font-size: 16px;
    }
}



