.copy {
    display: block;
    position: absolute;
    z-index: 9;
    color: white;
    right: 18px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
  
.copy_icon {
    font-size: 25px;
    cursor: pointer;
    margin-right: 0;

    &::after {
        content: url("../../assets/svg/copy.svg");
    }
}
  
.copy_text {
    margin-left: 10px;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 1px 1px #00000060;
    transition: all 0.5s ease-in-out;
    margin-top: -0.5rem;
}
  
  
.copy:hover span.copy_text {
    max-width: 100%;
}
  