@use '../base'as *;

.four_columns_pic {
    @include container-1526;
    @include section-padding;

    .columns {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.8rem;

        &__item {
            position: relative;
            cursor: pointer;

            &:hover .pic__wrapper {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }

            &::after {
                content: url("/assets/svg/right-arrow.svg");
                position: absolute;
                top: 52.5%;
                left: 40%;
                opacity: 0;
                transition: all 0.3s ease-in-out;
            }

            &:hover::after {
                opacity: 1;
                left: 42.5%;
            }

            &__title {
                padding-bottom: 1.2rem;
                position: relative;
                width: fit-content;
                @include copy-24;

                &::after {
                    content: "";
                    position: absolute;
                    width: 0%;
                    opacity: 0;
                    height: 2px;
                    background-color: #AEBFD9;
                    left: 0;
                    bottom: 0.8rem;
                    transition: all 0.3s ease-in-out;
                }
            }

            &:hover .columns__item__title::after {
                opacity: 1;
                width: 100%;
            }

            &__pic {
                position: relative;
                margin: 0;
                overflow: hidden;
                width: 100%;
                height: 470px;
                z-index: 0;

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    top: 10rem;
                    left: 0;
                    opacity: 0;
                    background: linear-gradient(transparent, #2F3031);
                    z-index: 1;
                    transition: all 0.3s ease-in-out;
                }

               .pic__wrapper {
                    width: 100%;
                    height: 100%;
                    position: relative;

                    will-change: transform;
                    -webkit-transform: translate3d(0, 0, 1px);
                    transform: translate3d(0, 0, 1px);
                    backface-visibility: hidden;
                    -webkit-transition: transform 0.3s;
                    transition: transform 0.3s;

                    img {
                        width: 100%;
                        max-width: 100%;
                        height: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                        -o-object-position: center center;
                        object-position: center center;
                    }
                }
            }

            &:hover .columns__item__pic::before {
                opacity: 1;
                top: 0;
            }
        }
    }
}