@use '../base'as *;

.header_and_paragraph {
    @include container-1526;
    @include section-padding;
    
    .section_header {
        h3 {
            padding-bottom: $space-xs;
        }
    }

    .paragraphs {
        width: 75%;

        p {
            &:not(:first-of-type) {
                padding-top: $space-xs;
            }
        }
    }
}