@use '../base'as *;

.nav {
    width: 100%;
    z-index: 99999;
    transition: all 0.3s ease-in-out;
    
    .nav__white {
        background-color: white;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 16px 70px;
            margin: 0;

            li {
                list-style-type: none;

                a {
                    color: $copy;
                    font-size: 12px;
                    text-transform: uppercase;
                    text-decoration: none;
                }

                &:not(:first-of-type) {
                    margin-left: 9rem;
                    position: relative;

                        &:after {
                            content: "";
                            width: 1px;
                            height: 100%;
                            background-color: $copy;
                            position: absolute;
                            display: block;
                            left: -4.5rem;
                            top: 0;
                        }
                }
            }
        }

        &__logo {
            width: 136px;
        }
    }

    .nav__blue{
        background-color: $dark-blue;
        padding: 1.8rem 70px;
        position: relative;
        transition: all 0.3 ease-in-out;
        

        &__content {
            // @include container-1780;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .right {
                display: flex;
                flex-direction: row;

                ul {
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    margin: 0;

                    li {
                        list-style-type: none;

                        a {
                            color: white;
                            @include copy-17;
                            text-transform: uppercase;
                            text-decoration: none;
                            transition: all 0.3s ease-in-out;

                            &:hover {
                                color: $light-blue;
                            }
                        }

                        &:not(:first-of-type) {
                            margin-left: 4.5rem;
                        }
                    }

                    &:not(:first-of-type) {
                        display: none;
                        margin-left: 9rem;
                        position: relative;
                        transition: all 0.3s ease-in-out;

                        &:after {
                            content: "";
                            width: 1px;
                            height: 100%;
                            background-color: white;
                            position: absolute;
                            display: block;
                            left: -4.5rem;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}

.fix_nav {
    position: fixed;
    top: 0;

   .nav__white {
        display: none;
   }

   .nav__blue {
        padding: 1.2rem 70px;

        .nav__blue__content {
            .right {
                ul {
                    &:not(:first-of-type) {
                        display: block;
                    }
                }
            }
        }
   }
}

.body_padding {
    padding-top: 4rem;
}

.barrierefreiheit {
    position: relative;
    
    &::after {
        content: url("../../assets//svg/wheel-chair-grey.svg");
        position: absolute;
        left: -1.2rem;
        top: -0.35rem;
    }
}