@use '../base'as *;

.section_header {
    
    
    h2 {
        font-family: gothamBook;
        font-weight: 400;
        max-width: 60%;
        position: relative;
        padding-bottom: $space-s;

        &::after {
            content: url("/assets/svg/headline-deco.svg");
            position: absolute;
            left: -47px;
            top: -47px;
            z-index: -1;
        }

    }

    p {
        width: 50%;
        padding-top: $space-xs;
    }
}