@use '../base'as *;

.section_headline {
    padding-bottom: $space-s;
    
    h2 {
        font-family: gothamBook;
        font-weight: 400;
        max-width: 60%;
        position: relative;

        &::after {
            content: url("/assets/svg/headline-deco.svg");
            position: absolute;
            left: -47px;
            top: -47px;
            z-index: -1;
        }
    }
}