/* ---------- Colors ---------- */
$copy: #535657;
$dark-blue: #00396B;
$medium-blue: #7287BB;
$light-blue: #B7C7DF;
$dark-green: #868120;
$medium-green: #A09600;
$light-green: #CFC364;
$grey: #C2C1C6;
$light-grey: #E7E6EC;


/* ---------- Spacing ---------- */
$space-xxs: 1.6rem; //32px
$space-xs: 1.8rem; //36px
$space-s: 3.2rem; //64px
$space-m: 4.5rem; //90px
$space-l: 6rem; //120px
$space-xl: 9rem; //180px
$space-xxl: 10.5rem; //210px

